* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#container {
  height: 100%;
}

#container .profile-img {
  height: 300px;
}

::-webkit-scrollbar
{
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-track
{
  background: none !important;
}
::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  background: #111 !important;
}

@media (max-width: 420px) {
  #container h1 {
    font-size: 35px !important;
  }
}

@media (max-width: 290px) {
  #container .profile-img {
    height: 200px;
  }

  #container h1 {
    font-size: 25px !important;
  }
}


body {
  background: #333;
  color: #fff;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

#container .profile-img {
  border-radius: 50%;
  border: 5px solid #3bbef3;
}

#container h1 {
  font-size: 42px;
  font-weight: 600;
  margin-top: 30px;
}

#container h2 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 5px;
  opacity: 0.6;
}

#container p.description {
  text-align: center;
  max-width: 500px;
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  #container p {
    font-size: 18px;
  }
}

#container .links {
  margin-top: 15px;
}

#container .links a {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

#container .links a:hover {
  transition: color 0.2s;
  color: #3bbef3;
  border-color: #3bbef3;
}

.projects-container{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.projects-container .project {
  text-align: justify;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project h3{
  color: #111;
  text-transform: uppercase;
  font-size: 12px;
  margin: 20px 0px;
}

.project p {
  color: #333;
  font-size: 13px;
  line-height: 19px;
}

.project .buttons-container{
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.link{
  margin-right: 10px;
  color: rgb(255, 255, 255);
  display: block;
  text-transform: uppercase;
  max-width: max-content;
  font-size: 11px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
}

.link.access{
  background-color: #3bbef3;
}

.link.github{
  background: #333;
}

.project img{
  width: 100%;
}